.abovediv {
  box-shadow: 0 0 0.3rem #b6b5b5;
  width: 38%;
  padding: 2rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}
.abovediv label {
  font-weight: 600;
  font-family: sans-serif;
  margin-bottom: 0.5rem;
}
.abovediv input {
  margin-bottom: 0.5rem;
  width: 99%;
  height: 1.5rem;
  border: solid rgb(234, 232, 232) 0.1rem;
}
